.contact {
    background-color: #ede6e1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.contact .div {
    background-color: #ede6e1;
    overflow: hidden;
    width: 1440px;
    height: 1954px;
    position: relative;
}
.contact .text-wrapper {
    position: absolute;
    top: 57px;
    left: 553px;
    text-align: center;
    font-family: "Marcellus SC-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 64px;
    letter-spacing: 0;
    line-height: 92.8px;
    white-space: nowrap;
}


.ifram {
    position: absolute;
    width: 520px;
    height: 360px;
    top: 389px;
    left: 843px;
    object-fit: cover;
}

.contact .overlap {
    position: absolute;
    width: 281px;
    height: 50px;
    top: 366px;
    left: 73px;
}

.titre input {
    position: absolute;
    width: 281px;
    height: 27px;
    top: 23px;
    left: 0;
    background-color: #ffffff;
    border: 1px solid;
    border-color: #000000;
}

.contact .text-wrapper-2 {
    position: absolute;
    width: 87px;
    top: 0;
    left: 6px;
    font-family: "Lora-Italic", Helvetica;
    font-weight: 400;
    font-style: italic;
    color: #000000e6;
    font-size: 15px;
    letter-spacing: 0.38px;
    line-height: 21.8px;
    white-space: nowrap;
}