body{
    background:#EDE6E1;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.centered-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    font-family: Italianno, serif;
    color: white;
    animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


html {
    scroll-behavior: smooth;
}
.logo img {
    width: 200px;
    height: auto;
    margin: 10px;
}

.container {
    max-width: 90%;
    margin: auto;
}

.flex1 {
    display: flex;
    justify-content: space-between;
}

.flex {
    display: flex;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 40px;
    grid-row-gap: 40px;
}

.grid1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 40px;
    grid-row-gap: 40px;
}

.header-video {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

#video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: rgba(0, 0, 0, 0.5);
}


header .container_content {
    background-color: rgba(0, 0, 0, 0.4);
    height: 100vh;
}

header nav {
    display: flex;
    justify-content: space-between;
}

header ul {
    position: relative;
    display: flex;
}

header ul li {
    padding-left:47px;
    text-align: center;
    list-style: none;
    line-height: 50px;
}

header ul li a {
    color: #D0D3D4;
    font-size: 15px;
    transition: 0.5s;
    text-decoration: none;
    font-family: sans-serif;
    letter-spacing: 2px;
}

header ul li a:hover {
    color: #ffffff;
}
header hr {
    opacity: 0.2;
    margin-top: 20px;
    width: 100%;



}.collection {
     text-align: center;
     padding: 40px 0;
 }

.collection div {
    position: relative;
}
.collection p {
    padding: 60px;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 1.3;
    letter-spacing: -0.36px;
    color: #303030;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.collection h1 {
    display: inline-block;
    padding: 0 20px;
    position: relative;
    text-align: center;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 300;
    line-height: 216.523%;
    letter-spacing: 0.4275rem;
    color: #303030;
}

.collection h1::before,
.collection h1::after {
    content: "";
    display: block;
    width: 37%;
    height: 1px;
    position: absolute;
    background: #d9d9d6;
    right: 0;
    top: 50%;
}

.collection h1::before {
    left: 0;
    transform: translateX(-100%);
}

.collection h1::after {
    right: 0;
    transform: translateX(100%);
}

.collection {
    text-align: center;
    padding: 40px 0;
}

.collection p{
    text-align: center;
    margin: 0 0 10px;
    font-family: KingsCaslon-Regular,Arial,Helvetica,sans-serif;
    font-size: 18px;
    line-height: 34px;
    letter-spacing: .02em;
    font-weight: normal;
    color: inherit;
}


.collection h2{
    color: #000;
    text-align: center;
    font-family: Akshar;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 216.523%; /* 38.974px */
    letter-spacing: 2.34px;
}

.suite{
    margin-top: 150px;
}

.room-grid {
    max-width: 1280px;
    margin-right: auto;
    margin-left: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 40px;
    gap: 100px;
}
.line {
    grid-column: span 2;
    border-bottom: 1px solid #000;
    margin-bottom: 20px;
}

.room {
    flex: 1;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
}

.room-info {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 10px;
}
.room-info h3{
    color: #000000;
    text-align: left;
    font: 300 18px/216.52% "Akshar", sans-serif;
    position: relative;
}
.room-info p1{
    color: #000000;
    text-align: left;
    font: 300 18px/216.52% "Akshar", sans-serif;
    position: relative;
}
.room-info p2 {
    color: #000000;
    text-align: left;
    font: 400 18px/216.52% "Itim", sans-serif;
    position: relative;
    top: 0;
    display: block;
}


footer {
    background-color: #1a1a1a;
    color: #fff;
    padding: 50px 0;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-section {
    flex: 1;
    margin-right: 30px; /* Espace entre les sections */
}

.footer-section h3 {
    font-size: 20px;
    margin-bottom: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

ul li a:hover {
    color: #ffd700;
}

.social-icons {
    display: flex;
    list-style: none;
    padding: 0;
}

.social-icons li {
    margin-right: 20px;
}

.social-icons img {
    width: 32px;
    height: 32px;
}